{deps, [
    {ets_manager, "0.1.*", {git, "https://github.com/istr/ets_manager.git",
		  {tag, "92666100ce550d165f9841aa2664c6dfdcf3160b"}}}
]}.
{sub_dirs, ["rel"]}.
{port_specs, [{"priv/erlinotify_nif.so", ["c_src/*_nif.c"]}]}.
{erl_opts, [
    debug_info
	  ,fail_on_warning
    ,warnings_as_errors
    ,report_warnings, {warn_format,1}, warn_export_vars
    ,warn_obsolete_guard, warn_unused_import
    ,warn_missing_spec, warn_untyped_record
]}.
